<div class="col-md-3" style=" margin-top: 15px">
            <u1 class="list-group" style="font-size:large;text-align: center;margin-top: 20px">
                <li item="item-1" class="list-group-item"><a href ="{{  url_for("userInfo_change")}}">修改个人信息</a></li>
                <li item="item-2" class="list-group-item"><a href ="{{  url_for("userInfo_delete")}}">注销个人账户</a></li>
                <li item="item-3" class="list-group-item"><a href ="{{  url_for("user_my_album")}}">查看我的图像集</a></li>
            </u1>

</div>{% block js_code %}

    {% endblock %}
